.icon-32-letter    { 
        background-image: url(../icon/icon-32-letter.png); 
}

.icon-32-italyflag    { 
        background-image: url(../icon/icon-32-italyflag.png); 
}

.icon-32-emailserver    { 
        background-image: url(../icon/icon-32-emailserver.png); 
}

.icon-32-export    { 
        background-image: url(../icon/icon-32-export.png); 
}
